/* General Layout */
.page-container {
  padding: 1rem;
  background-color: #303849;
  color: #c1c3c7;
}

/* Flexbox Layout for Graph and Node List */
.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.graph-section {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c1c3c7;
}
