.page-container {
  padding: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-muted);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.arrow {
  margin-right: 5px;
}

.back-button {
  color: var(--color-text-dark);
  background-color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.graph-section {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-edge-modal-button {
  margin-top: 0;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  background-color: var(--color-tertiary);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
